@import "../../vars.css";

.container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: var(--color-text);
}

.closeLogo {
  padding-top: 10px;
  padding-left: 15px;
  z-index: 100;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20pc;
  position: relative;
}

.content a {
  text-decoration: none;
  color: var(--color-text);
}

.leftContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40pc;
}

.title {
  font-family: "Roboto";
  text-transform: uppercase;
  font-size: 45px;
  font-weight: bold;
}

.workList {
  list-style: none;
  font-size: 30px;
  font-family: "Roboto";
  margin-left: 20px;
}

.rightContent {
  width: 30pc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  z-index: var(--zIndex-10);
}

.rightContent p {
  font-size: 30px;
}

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column-reverse;
    gap: 0pc;
  }

  .leftContent {
    height: 20pc;
  }

  .rightContent {
    width: 20pc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2pc;
  }

  .rightContent p {
    font-size: 25px;
    margin-left: 1pc;
  }

  .title {
    font-size: 30px;
  }

  .leftContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .workList li {
    font-size: 25px;
  }
}
